
DATABASE_URL="postgresql://postgres:postgresPassword@localhost:5432/Database?schema=public"
JWT_SECRET=JWT_SECRET
# Server
NODE_ENV=development
PORT=3000

# JWT
JWT_SECRET=JWT_SECRET_CODE
JWT_EXPIRES_IN=DATE

# Google OAuth
GOOGLE_CLIENT_ID=GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=GOOGLE_CLIENT_SECRET
GOOGLE_CALLBACK_URL=http://localhost:3000/api/auth/google/callback

# Nodemailer
MAIL_HOST=smtp.gmail.com
MAIL_PORT=MAIL_PORT
MAIL_USER=MAIL_USER
MAIL_PASS=MAIL_PASS

# Upload
UPLOAD_DIR=public/uploads
MAX_FILE_SIZE=5242880
APP_URL=http://localhost:3000